.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.blogName {
  transition: max-height 0.3s cubic-bezier(.29, 1.01, 1, -0.68);
  overflow: hidden;
  max-height: 600px;
}

.collapsed {
  max-height:0 !important;
  display: none;
}

.headerImage {
  transition: margin-right 0.4s cubic-bezier(.29, 1.01, 1, -0.68);
  margin-right: 0px;
}
.headerImage_collapsed {
  margin-right: 500px !important;
}